[global]
# sleep between tests
interval = 1  

[api]
# API address details
host=api.blocked.org.uk
port=443
https=True
version=1.2

#Uncomment to enable amqp support
#
#[amqp]
#host=localhost
#port=5672
#ssl=False
#userid=guest
#passwd=guest
#prefetch=200

# a set of probe credentials
[sampleprobe]
uuid = 01234567890123456788
secret = foobarbazquux00foobarbazquux
queue = org
selftest = True		#whether to run the self-test or not


## completely optional per-probe settings - uncomment to enable

# byte limit for operation (see accounting)
# #limit=2000000000

# page body size to read (0 == read all)
# read_size = 8192

# use a different version of the API config
# config_version = 2014010101

# use an alternate api config file, instead of reading JSON from api/config/latest
# api_config_file = local_config.json

# number of requests to process before exiting
# lifetime = 15000

# number of seconds between heartbeat messages (AMQP only)
# heartbeat = 120

# Add "network" to override the detected ISP (useful for mobile operators)
# network = Virgin Mobile

# Allow probe to start running against an ISP with no rules in config
# skip_rules = true

# customize user agent
# useragent = OMG/1.0 (+http://example.com)

# request timeout configurable (default 5)
# timeout = 5

# verify SSL
# verify_ssl = true


# Uncomment to impose a byte limit on downloads.  When the limit is reached, the 
# probe shuts down.  Counters are stored in a redis instance, given below
# [accounting]
# #redis_server=localhost

